@media (max-width:1370px){

  .nav-ul{
      width: 700px;
  }
  .sections{
      width:70vw;
  }
  .check-flex{
    flex-wrap: wrap;
    justify-content: center;
}
.check-div{
   width:75vw;
   padding-right: 0;
}
 .check-div2{
     margin-top:10%;
 }
 .divide9{
     height: 1900px;
 }
 .input5 {
     width: 20vw;
 }
 .input6{
    width: 40vw;
 }
 .input6-div{
     width: 40vw;
     margin:0 auto;
 }

.pay-input{
    flex-wrap: wrap;
}
.paymant{
    height: 570px;
}
.pay1{
    height: auto;
}
.class2, .class1{
   width:  290px;
}
.pay3{
    height: auto;
}
.pay-btn1{
    margin-top: 7%;
}

.join2{
    padding-left: 30px;
}
.div-join3{
    width: 80vw;
    margin: 0 auto;
}
.join4{
    width: 80vw;
    margin: 0 auto;
}
.join4-4{
    width: 76vw;
}

}





@media (max-width:1000px) {
   

   
      .big-div{
          flex-wrap: wrap;
          padding-top: 50px;
      } */
      .section1{
          flex-wrap: wrap;
      }
      .body {
          height: 3000px;
      }
     
    
      .nav-ul{
        width: 600px;
      
    }

    .header3{
        padding-left:80px;
    }
    .header1{
        padding-left:80px;
    }
    .cat-1{
        margin-right: 20px;
    }
    .cart0{
       flex-direction: column;
    }

.check-flex{
    flex-wrap: wrap;
}
.join-p{
    font-size: 25px;
}

.join4-4 {
    flex-wrap: wrap;
    justify-content: center;
}
.join4{
    height: auto;
    padding-bottom: 20px;
}
.head-div {
    height: 1950px;
}








}



@media (max-width:750px){
    .burger-bar{
        display: block;
        position: absolute;
        cursor:pointer;
        
       
    }
    .burger{
        padding-left: 10px;
    }
    .header3 {
        display: none;
    }
  .first-header{
      display: block;
  }
.header-block{
    display: none;
}
.store-name {
    font-size: 27px;
    padding-top: 7px;
    
}
.logo{
   width:80px;
}
.bag-number {
    margin-top: 15px;
}
.ge {
    margin-top: 15px;
}


ul{
    display: block;
    
  }   
  .nav-a{
    display: block;
  }  
  .menu-ul
  {
    display: none;
  }   
  .menu-ul.open-menu{
    display: block;
  } 




  .img {
    background-image:  url(../images/resp-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 592px;
    width: 100%;
    
   }
   .slider {height: 592px;}
   .flex2{
    height: 592px;
   }
   .sec1-div {
       bottom: 100px;
       right: 150px;
   }
   .dots{
       padding-top: 550px;
   }
   .bg-image1 {
    background-image:  url(../images/resp-bg2.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 600px;
  }

  .slides {
    background-image:  url(../images/resp-bg3.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    width:100%;
    height: 592px;
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 3;
       
   }
   .bg-image5 {
    background-image:  url(../images/resp-bg4.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 600px;
}

.divide{
   display: none;
}
nav{
    display: none;
}

.input{
    display: none;
}

.bg-image{
  height: 298px ;  
}
.footer-block {
    height: 0;
}
.soc-div {
    width: 290px;
}
.divide-1{
    width: 300px;
    margin-left: 370px;
   height: 30px;
}
.logo1{
    display: none;
}

.resp-div{
    display: block;
    margin-left: 25px;
    padding-top: 25px;
}
.store-name2{
    font-size: 30px;
}
.logo2{
    width: 95px;
    margin-left: 130px;
}
.resp-div1 {
    display: block;
    margin-left: 170px;
    width: 350px;
    margin-top: 70px;
    margin-bottom: 50px;
    

}


.footer-block{
    padding-left: 17px;
}


 .sec1-div{
    width: 300px;
   text-align: center;
  top:350px
    }

.cat-1, .divide2{
    display: none;
}
.body {height: 2800px;}

.bag-number {
    max-width: 50px;
    text-align: center;
    height: 30px;
   
  }
  .bag-n{
    font-size: 10px;
    color: white;
    background-color: #3a0b64;
    width: 18px;
    height: 18px;
    position: relative;
    float: right;
    border-radius: 15px;
    padding-top: 4px;
    margin-left: 16px;
    margin-bottom: 15px;
  }
  .resp-icons{
      width: 90%;
      margin-left: 25px;
  }
.clothes-div {
    display: none;
}
.women-li{
    display: block;
}
.clothes-div.open-menu{
    display: block;
}
.cat-resp{
    display: block;
}
.sections{
    float:right;
        width: 61vw;
}

.section1{
    flex-wrap: wrap;
}
.big-div{
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
}
.resp-filter {
    display: none;
    position: fixed;
left: 0;
top: 68px;
right: 0;

}
.resp-filter.open-menu{
    display: block;
}

.shoes-cat{
    display: none;
}
.filter-shoes{
    display: none;
}


.newcollection{
    width: 77vw;
height: 150px;
background-size: contain;
}

.for-resp{
    display: block;
}
.big-div1{
    display: none;
}
.img3{
    border-radius: 19px;
}

.small-div2{
    margin:0 auto;
    max-width: 390px;
    width: 100%;
    padding-top: 3%;
}


.price1{
    width: 200px;
    float: right;
    font-size: 18px;
    
}
.buy{
    width:70vw;
    margin:0 auto;
}
.img4{
    max-width: 30px;
    width: 100%;
}

.color{
    font-size: 18px;
}
.h4-1{
    height: 65px;
    padding-top: 15px;
}
.cart-div1{
    flex-wrap: wrap;
}

.join-p{
    font-size: 16px;
}
.pic{
    width:80px;
    height: 130px;
}
.join-flex{
    display: flex;
    justify-content: space-between;
    width: 85vw;
}

.b-search1{
    width: 57vw;
    margin: 0 auto;
}

.path{
    padding-left: 25px;
}
.burger-nav8:hover .div-sub {
    display: block;
  }
  
.menu-ul8{
    display: none;
}
.menu-ul8.open-menu{
    display: block;
}


}

@media (max-width:557px) {
    .store-name {
        font-size: 20px;
        padding-top: 10px;
    }
    .logo{
       width:60px;
    }
    .resp-logo {
        max-width: 150px;
        height: 40px;
        }
        .resp-icons1{
            width: 200px;
        }

    .img1 {width: 145px;
    height: 169px;}
    .name {

        font-size: 14px;
        
      }
      .brand {
        font-size: 11px;
        color: white;
        margin-bottom: 5px;
      }
      .bag2{
        max-width: 15px;
        width: 100%;
      }
      .price {
        font-size: 12px;
       
      }
      .bag-color{
        max-width: 25px;
      }
.burger-line{
    width:300px;
}
.soc-icon11{
    width: 20px;
}
.soc-icon12{
    width: 10px;
}
.resp-div1{
    max-width:230px ;
}
.company{
    font-size: 15px;
}

.divide-1{
    width: 200px;
  margin-left: 150px;
        }
        .nav-1{
        margin-right: 90px;
        }

.div-1{
    width: 30vw;
}


.body{
    height:2350px ;
}

.collection{
    font-size: 24px;
}


.first-block{
    flex-wrap: wrap;
}
.left1{
    flex-wrap: wrap;
}

.second-block{
    flex-wrap: wrap;
}
.container{
    padding:30px 40px;
}
.block2{
    display: none;
}
.block11{
    display: none;
}
.block1{
    width:25vw;
   
}
.shoes1{
    height: 180px;
}

.third-div{
    padding:30px;
}
.join3{
    font-size: 20px;
}


}






@media (max-width:450px){
   .icons-1{
       width:17px;
       height: 20px;

    }
    .bag-number {
        max-width: 30px;
        text-align: center;
        height: 30px;
       
      }
    .bag-n{
        font-size: 8px;
        color: white;
        background-color: #3a0b64;
        width: 14px;
        height: 14px;
        position: relative;
        float: right;
        border-radius: 15px;
        padding-top: 2px;
        margin-left: 12px;
        margin-bottom: 15px;
      }
    .ge{
       width: 26px;
       font-size: 13px;
       height: 30px;
       padding-top: 8px;
      }

    .burger{
        width: 19px;
    }
    .burger-bar{
        width: 19px;
        padding-left: 10px;
    }
 
    .sec1-div{
       left:58px;
    }
    .sec3-div{
      left: 100px;
         }
    .sec2-div{
        left: 70px;
        text-align: center;
        width: 220px;
         }
    .header11{
        font-size: 30px;
        margin-left: 0;
    }
    .header22{
        font-size: 30px;
        margin-left: 0;
        
    }
    .sec1-p {
        font-size: 18px;
        margin-left: 0;
    }
    .sec3-p {
        font-size: 18px;
        margin-left: 0;
    }
    .sec2-p {
        font-size: 16px;
       
    }
    .btn-div{
        width: 100%;
    }
    .btn9{
        width: 150px;
        font-size: 18px;
        height: 40px;
        padding-top: 8px;
    }
    .btn2{
        width: 150px;
        font-size: 18px;
        height: 40px;
        padding-top: 8px;
        margin-left: 50px;
       
    }
    .btn3{
        width: 150px;
        font-size: 18px;
        height: 40px;
        padding-top: 8px;
      margin-left: 0;
       
    }
    .img {
        background-image:  url(../images/resp-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        height: 592px;
        width: 100%;
        
       }
    .slider {height: 592px;}
    
    .resp-div{
        display: block;
        margin-left: 0;
        padding-top: 25px;
    }
    .store-name2{
        font-size: 30px;
    }
    .logo2{
        width: 95px;
        margin-left: 130px;
    }
    .resp-div1 {
        display: block;
        margin-left: 50px;
        width: 270px;
        margin-top: 70px;
        margin-bottom: 50px; 
    
    }
  
    .company {
      
        margin-right: 70px;
       
    }
    .nav-1{
        margin:0;
    }
    .footer-block{
        padding-left: 17px;
    }
    .big-div {
    padding: 0 5px;
    padding-top: 50px;
}
    .img1 {width: 100px;
    height: 115px;}
    .name {
        font-size: 12px;  
      }
    .brand {
        font-size: 9px;
        color: white;
        margin-bottom: 5px;
      }
    .bag2{
        max-width: 10px;
        width: 100%;
      }
    .price {
        font-size: 10px;
       
      }
    .bag-color{
        max-width: 15px;
        height: 15px;
        padding-top: 0;
      }
    .body{
        height: 1800px;
          
      }
 

    .burger-line{
       width:250px;
    }


   .burger-line2{
       max-width: 210px;
       width: 100%;
   }


   .divide-1{
       width: 150px;
       margin-left: 100px;
        }

   .sec1-div{
      width: 220px;
      text-align: center;
      top:350px;
      left:55px;
            }
   .sec2-div{
      left:75px;
            }
   .sec3-div{
     left:105px;
            }

   .div-1{
     width: 35vw;
            }
   .section1{
     flex-wrap: wrap;
            }
            
    .body{
        height: 1800px;
    }

.input8, .label1 {
    font-size: 16px;
}
.pic{
    width:65px;
    height: 110px;
} 

.join-p{
    line-height: 30px;
    font-size: 19px;
}
.pic{
    padding-top: 10%;
}

.join4{
    padding:0 10px;
    padding-bottom: 20px;
}
.bt-send{
    font-size: 27px;
}
.join-bt{
    width:200px;
    height: 50px;
}
}

@media (max-width:409px){
    
.resp-icons1{
    width:115px;
}
.divide-1{
    width: 95px;
   margin-left: 180px;
        }
.nav-1{
    margin-right: 30px;
        }
.company{
    margin-right: 40px;
}
.company{
    font-size: 12px;
    margin-right: 20px;
}
.soc-div{
      width:190px;
}
.company{
     font-size: 12px;
     margin-right: 40px;
    }
.sec1-div{
     width: 220px;
     text-align: center;
     top:350px;
     left:15px;
        }
 .sec2-div{
    left:25px;
        }
 .sec3-div{
     left:65px;
        }
        
      
 .section1{
      flex-wrap: wrap;
      margin-top: 20px;
        }
 .newcollection{
      height: 90px;
        }
 .big-div{
      padding-top:0;
        }

.collection{
    font-size: 20px;
}

.pay3{
flex-direction: column;
margin:0 auto;
width:50vw;
padding-left: 10px;
}
.pay11{
    margin:0 auto;
    width:50vw;
}
.input15, .class1, .class2{
   width: 50vw;
}
.label5{
    width:192px;
    margin:0 auto;
}
.input12 {
    width: 150px;
}
.paymant{
    height:650px ;
}
.divide9{
    height: 2000px;
}







}
@media (max-width:355px){


    .burger-line{
        width:210px;
    }
    .divide-1{
        width: 95px;
       margin-left: 120px;
            }
    .nav-1{
        margin-right: 30px;
            }
    .company{
        margin-right: 40px;
    }
    .company{
        font-size: 12px;
        margin-right: 20px;
    }
    .soc-div{
          width:190px;
    }
    
    .section1{
        flex-wrap: wrap;
        margin-top: 20px;
    }
    .collection{
        font-size: 17px;
    }

    







}