

/* header style */


.header-block {
  
    background:  linear-gradient(black 51%,  rgba(65,21,104,1));;
    height: 174px;
    width: 100%;
}
.logo {
    max-width: 117px;
    width: 100%;
    margin-top: 25px;
    margin-left: 300px;
 
}
.header1 {
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
}
.store-name {
    font-size: 36px;
    color: white;
    margin-top: 10px;
}
.header2 {
    display: flex;
    padding-top: 17px;
}
.join{
    font-size: 32px;
    color: white;
    width: 200px;
}
.ge {
    max-width: 35px;
    width: 100%;
    font-size: 16px;
    color: white;
    border-radius: 30px;
    background-color: #271241;
    text-align: center;
    padding-top: 8px;
    margin-right: 20px;
} 
.icons {
   max-width: 26px;
   width: 100%;
   margin-right: 20px;
}
.icons-1 {
    max-width: 26px;
    width: 100%;
    height: 27px;
 }
 .header3 {
    max-width: 1100px;
    margin-top: 37px;
    padding-left: 208px;
 }
 .nav-ul {
     display: flex;
     justify-content: space-between;
 }
 .nav-li {
     font-size: 18px;
     color: white;
 }
 .nav-li6{
  font-size: 18px;
  color: white;
  margin-left: 20px;
  
 }
 .dropdown {
  position: relative;
  display: inline-block;
  
}
.dropdown1{
  position: relative;
  display: inline-block;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:#46067B;
  min-width: 95px;
  width: 100%;
  height: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 9;
  margin-top: 10px;
  padding-left: 10px;
  
}
.dropdown-content1 {
  display: none;
  position: absolute;
  background-color:#46067B;
  min-width: 95px;
  width: 100%;
  height: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 9;
  margin-top: 10px;
  padding-left: 10px;
  
}
.a-2{
  color: #737271;
}
.content1{
  height: 195px;
  min-width: 140px;
  width: 100%;
 padding-left: 0px;
}

.a-1 {
  display: flex;

 
  
}
.arrow3{
  max-width: 8px;
  width: 100%;
  height: 8.52px;
  margin-top:15px;
}


  .dropdown-content  a{
    color: white;
    font-size: 14px;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
   
  }
  .dropdown-content1 a {
    color: white;
    font-size: 14px;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
   
  }
  
  /* .dropdown-content a:hover {background-color: #ddd;} */
  
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown1:hover .dropdown-content1 {display: block;}
  
  .dropdown:hover .nav-li6 {background-color:transparent;
 }
 .dropdown1:hover .nav-li6 {background-color:transparent;}


 .dropdown:hover {
  transition: .5s all; 
 }
 .dropdown1:hover {
  transition: .5s all; 
  }









 /* section 1 style */
 .flex2{
   display: flex;
 }
 html, body { height: 100%; margin: 0; }
 .img {
  background-image:  url(../images/tt.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 900px;
  width: 100%;
  
 }
 .slider, .slider .imgs {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .slider {
    height: 100%;
    z-index: 2;
    
  }
  
  .slider .imgs {
    display: flex;
    overflow: hidden;
    position:absolute;
    
  }
  
  .slider .img {
    min-width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    left: 100%;
    /* animation duration can't be greater than variable interval in JS! */
    /* check JS for other settings */
    animation: .6s cubic-bezier(0.645, 0.045, 0.355, 1) 0s left;
    animation-fill-mode: forwards;
   
  }
  
  /* Change images here */
  /* .slider .img:nth-of-type(1) { background: url("https://images.unsplash.com/photo-1441974231531-c6227db76b6e"); }
  .slider .img:nth-of-type(2) { background: url("https://images.pexels.com/photos/36764/marguerite-daisy-beautiful-beauty.jpg"); }
  .slider .img:nth-of-type(3) { background: url("https://wallpapercave.com/wp/9F6GsSn.jpg"); }
  .slider .img:nth-of-type(4) { background: url("https://k60.kn3.net/taringa/F/C/6/8/4/5/VCLR/3E9.jpg"); } */
  
  .slider .img span {
   
    background: rgba(0, 0, 0, .8);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    color: #f0f0f0;
    font-size: 14px;
    font-family: sans-serif;
  }
  
  .dots {
    position: relative;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 990px;
    padding-bottom: 50px;
  }
  
  .dot {
    width: 8px;
    height: 8px;
    background: rgb(248, 242, 242);
    border-radius: 50%;
    margin: 0 3px;
    
    cursor: pointer;
  }
  
  .active-dot {
    background: #3f3f3f;
    cursor: default;

  }
  
  @keyframes leftNext {
    from { left: 100%; }
    to { left: 0; }
  }
  
  @keyframes leftCurr {
    from { left: 0; }
    to { left: -100%; }
  }
  
  @keyframes rightNext {
    from { left: -100%; }
    to { left: 0; }
  }
  
  @keyframes rightCurr {
    from { left: 0; }
    to { left: 100%; }
  }


  .sec1-div {
    position:absolute;
    z-index: 5;
    bottom: 100px;
    right: 130px;
}
.header1 {
    font-size: 56px;
    color: white;
    margin-bottom: 10px;
}
.sec1-p {
    font-size: 24px;
    color:white;
    margin-bottom: 20px;
    margin-left: 50px;
}
.btn1 {
    font-size: 24px;
    color: white;
    max-width: 250px;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    background-color: #411568;
    border: 2px solid #411568 ;
    text-align: center;
    padding-top: 13px;
    margin-left: 50px;
}




  /* section 2 style */
  .bg-image1 {
    background-image:  url(../images/rwew.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 600px;
  }
  .sec2-div {
    position:absolute;
    z-index: 5;
    bottom: 100px;
    left: 130px;
  }
  .btn2 {
    font-size: 24px;
    color: white;
    max-width: 168px;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    background-color: #411568;
    border: 2px solid #411568 ;
    text-align: center;
    padding-top: 13px;
    
}
.header2 {
    font-size: 56px;
    color: white;
    margin-bottom: 10px;
}
.sec2-p {
    font-size: 24px;
    color:white;
    margin-bottom: 30px;
    
}
  
 /* section 3 style  */


 HTML CSS JSResult Skip Results Iframe
 EDIT ON
 @import url(https://fonts.googleapis.com/css?family=Varela+Round);
 
 html, body { background: #333 url("https://codepen.io/images/classy_fabric.png"); }
 
 .slides {
     padding: 0;
     width:100%;
     height: 600px;
     display: block;
     margin: 0 auto;
     position: relative;
     z-index: 3;
     
 }
 
 .slides * {
     user-select: none;
     -ms-user-select: none;
     -moz-user-select: none;
     -khtml-user-select: none;
     -webkit-user-select: none;
     -webkit-touch-callout: none;
 }
 
 .slides input { display: none; }
 
 .slide-container { display: block;
position: relative; }
 
 .slide {
     top: 0;
     opacity: 0;
     width:100%;
     height: 600px;
     display: block;
     position: absolute;

     transform: scale(0);
 
     transition: all .7s ease-in-out;
 }
 
 .slide img {
     width: 100%;
     height: 100%;
     position: relative;
 }
 
 
 
 .nav .next { right: 0; }
 
 input:checked + .slide-container  .slide {
     opacity: 1;
 
     transform: scale(1);
 
     transition: opacity 1s ease-in-out;
 }
 
 input:checked + .slide-container .nav label { display: block; }
 
 .nav-dots {
   width: 100%;
   bottom: 9px;
   height: 11px;
   display: block;
   position: absolute;
   text-align: center;
   margin-bottom:30px;
 }
 
 .nav-dots .nav-dot {
   top: -5px;
   width: 11px;
   height: 11px;
   margin: 0 4px;
   position: relative;
   border-radius: 100%;
   display: inline-block;
   background-color: white;
 }
 
 .nav-dots .nav-dot:hover {
   cursor: pointer;
   background-color: rgba(0, 0, 0, 0.8);
 }
 
 input#img-1:checked ~ .nav-dots label#img-dot-1,
 input#img-2:checked ~ .nav-dots label#img-dot-2,
 input#img-3:checked ~ .nav-dots label#img-dot-3,
 input#img-4:checked ~ .nav-dots label#img-dot-4,
 input#img-5:checked ~ .nav-dots label#img-dot-5,
 input#img-6:checked ~ .nav-dots label#img-dot-6 {
   background: rgba(0, 0, 0, 0.8);
 }
 .sec3-div {
    position:absolute;
    z-index: 5;
    bottom: 100px;
    left: 130px;
 }
 .btn3 {
    font-size: 24px;
    color: white;
    max-width: 168px;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    background-color: #411568;
    border: 2px solid #411568 ;
    text-align: center;
    padding-top: 13px;
    margin-left: 50px;
    
}

.sec3-p {
    font-size: 24px;
    color:white;
    margin-bottom: 45px;
    margin-left: 50px;
    
}
  
 /* section 4 stylle */

.bg-image5 {
    background-image:  url(../images/mask11.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 600px;
}











 /* footer style */
 .bg-image {
  background:url(../images/f-bg.png) repeat, linear-gradient( black 51%,  rgba(65,21,104,1));
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height:360px ;
  
}

 .footer-block {
  
    height: 360px;
    width: 100%;
   
 
 }
 .soc-div {
     display: flex;
     justify-content: space-around;
     /* margin-top: 70px; */
 }
 .nav-li1 {
     font-size: 18px;
     color: #707070;
     margin-bottom: 20px;
 }
 .company {
     font-size: 24px;
     font-weight: bold;
     color: white;
     margin-bottom: 20px;
 }
.divide-1 {
    
    display: flex;
    justify-content: space-around;
    margin-left: 200px;
}
.nav-1 {
    margin-right: 110px;
}
.soc-icons {
    margin-top: 30px;
    
}
.soc-icon {
    max-width: 30px;
    width: 100%;
    margin-right: 10px;
}
.soc-icon1 {
    max-width: 15px;
    width: 100%;
    margin-right: 10px;
}
.logo1 {
    max-width: 117px;
    width: 100%;
   margin-top: 80px;
    margin-left: 300px;
}
.input1 {
  width: 220px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #707070;
  background-color:transparent;
  height: 30px;
  font-size: 18px;
  margin-top: 10px;
}
.input {
    max-width: 600px;
    margin-top: 20px;
    display: flex;
}
.btn {
    max-width:200px;
    border-radius: 40%;
    font-size: 24px;
    color: white;
    background-color: #411568;
    padding:0 30px;
    padding-top: 2px;
    margin-left: 10px;
    margin-top: 10px;
    height: 33px;
}

/* newcollection style */

.body {
  
  background-color: #2F1A4F;
 
}
.newcollection {
text-align: center;
padding-top: 28px;
max-width: 600px;

}
.col-image {
  position:absolute;
}
.collection {
  font-size: 36px;
  color: white;
  position: relative;
  
  
}
.col-div {
  text-align: center;
  margin-top: 140px;
}
/* section 1 */
.sections {
  display: flex;
  margin:0 auto;
 margin-top: 230px;
 justify-content: space-between;
 max-width: 1320px;
 


}
.cat-1 {
  max-width: 200px;
  width: 100%;
  display: flex;
  border: 2px solid #2F1A4F;
  padding-top: 8px;
  padding-bottom: 8px;
  justify-content: space-around;
}
.cat-2{
  max-width: 200px;
  width: 100%;
  display: flex;
  border: 2px solid #2F1A4F;
  padding-top: 8px;
  padding-bottom: 8px;
  justify-content: space-around;
  margin-right: 50px;
  
}
.subcategory {
  font-size: 21px;
  color:#505050;
}
.arrow2{
  max-width: 11px;
  width: 100%;
  height: 8px;
  margin-top: 8px;
}
.divide2{
  display: flex;
  width: 400px;
}


/* section 2 */

.big-div {
  max-width: 1096px;
  width: 100%;
  height: 1145px;
  margin:0 auto;
  margin-top: 70px;

}
.section1{
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}
.mini-div {
  padding-left: 10px;
  margin-top: 10px;
}
.small-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.img1{
  max-width: 225px;
  width: 100%;
  height: 237px;
}
.name {

  font-size: 18px;
  color: white;
  margin-bottom: 9px;
}
.brand {
  font-size: 14px;
  color: white;
  margin-bottom: 5px;
}
.bag2{
  max-width: 20px;
  width: 100%;
}
.price {
  font-size: 16px;
  color: white;
  margin-bottom: 5px;
}
.pages{
  display: flex;
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 100px;
  justify-content: space-around;
  max-width: 170px;
  width: 100%;

}
.page {
  font-size: 24px;
  color: white;
}
.numbers, .h3-1, .h3-2 {
  font-size: 24px;
  color: white;
  justify-content: space-between;
}

/* product page style */

.bg-image2 {
  background-image:  url(../images/image1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
   
}
.big-div1 {
  display: flex;
  max-width: 1500px;
  width: 100%;
  padding-top: 50px;
  justify-content: center;
  padding-bottom: 50px;
}
.div2{
  max-width: 90px;
  width: 100%;
}
.img2 {
  max-width: 80px;
  width: 100%;
  height: 80px;
  margin-bottom: 10px;
}
.div3{
 max-width: 489px;
 width: 100%;
}
.img3{
  max-width: 420px;
  width: 100%;
  height: 377px;
  margin-left: 30px;
}
.small-div2 {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  margin-left: 30px;
  margin-top: 10px;
}
.color {
  font-size: 24px;
  color: white;
  margin-top: 10px;
}
.div4 {
width: 320px;

}
.new {
  font-size: 18px;
  color: #707070;
  margin-bottom: 10px;
}
.boots {
  font-size: 24px;
  color:white;
  margin-bottom: 10px;
}
.paragraph  {
  font-size: 16px;
  color:white;
 
}
.price1  {
  font-size: 36px;
  color:white;
  margin-top: 20px;
  margin-bottom: 20px;
}
.mini2 {
  display: flex;
  max-width: 600px;
  width: 100%;
  justify-content: space-between;
}
.sizes {
  font-size: 24px;
  color: white;
}
.chart {
  font-size: 24px;
  color: white;
  text-decoration: underline;
}
.size-div {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.size {
  max-width: 65px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color: #2F1A4F;
  text-align: center;
}
.h-size {
  font-size: 24px;
  color: white;
  margin-top:8px;
}
.size5 {
  max-width: 65px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color:#434145;
  text-align: center;
}
.buy {
  display: flex;
  justify-content: space-between;
  width: 370px;
  
}
.addcart {
  max-width: 181px;
  width: 100%;
  height: 38px;
  background-color: #411568;
  border-radius: 20px;
  text-align: center;
  padding-top: 10px;
  margin-top: 40px;
}
.add {
  font-size: 20px;
  color: white;
}
.h4-1 {
  font-size: 18px;
  color: white;
  margin-top: 15px;

}

/* section2 style */
.big-div2 {
  background-color: #2F1A4F;
  padding-bottom: 100px;
}
.container {
  max-width: 1307px;
  width: 100%;
  margin:0 auto;
  padding-top: 50px;
}
.left1 {
  display: flex;
  justify-content: space-between;
}
.left2{
  max-width: 500px;
  width: 100%;
}
.left-h2 {
  font-size: 36px;
  color: #A8A8A8;
  margin-bottom: 15px;
}
.left-p1 {
  font-size: 18px;
  color:#A8A8A8;
  max-width: 500px;
  width: 100%;
  margin-top: 43px;
}
.left-p {
  font-size: 18px;
  color:#A8A8A8;
  max-width: 500px;
  width: 100%;
}
.inline {
  display: flex;
  justify-content: space-between;
  max-width: 370px;
  width: 100%;
  margin-top: 60px;
}
.rewiev {
  font-size: 36px;
  color: #A8A8A8;
}
.h3-5 {
  
    font-size: 16px;
    color: #A8A8A8;
    margin-top: 11px;
    text-decoration: underline;
  
}
.second-block {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  
}
.head {
  font-size: 24px;
  color: #A8A8A8;
  margin-bottom: 15px;
}
.lorem{
  font-size: 21px;
  color: #A8A8A8;
  max-width: 500px;
  width: 100%;
}
.third-div {
  margin: 0 auto;
  max-width: 1307px;
  width: 100%;
  margin-top: 70px;
}
.img-div {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1307px;
  width: 100%;
  margin-top: 20px;
 
}
.shoes1 {
  max-width: 206px;
  width: 100%;
  height: 272px;
}
.head1{
  font-size: 36px;
  color: #A8A8A8;
}